#login_menu {
	
}
#signup2_menu {
	display:none;
}
#main_menu {
	display:none;
}
#ships_menu {
	display:none;
}
#resource_subdiv {
	border: 2px solid black
}
#in_flight_menu {
	display:none;
}
#dispatch_menu {
	display:none;
}
#buildings_display {
	display:flex;
	overflow:auto;
	flex-wrap:wrap;
	height: calc(100% - 140px);
}
.building_div {
	width: 30%;
	max-width: 100px;
	height: 100px;
	border: 2px solid black;
	margin: 2px 2px;
}
.building_div img{
	width:100%
}
#buttons_display {
	position: fixed;
	bottom: 2px;
	border: 2px solid black;
	margin: 0 auto;
	display: flex;
}
.button_div {
	font-size: .8em;
	width: 50px;
	height: 50px;
	border: 2px solid black;
	margin: 2px 2px;
}
.center {
	text-align:center;
}
